
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button, table{
    margin: 10px;
}
table {
    width: 100%;
}
.counterCell:before {
    content: counter(tableCount);
    counter-increment: tableCount;
}
select{
    width: 100%;
    background: white;
    border: 1px solid grey;
    height: 30px;
    border-radius: 10px;
}