<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All tasks from certain todo</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/all-tasks.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div style="width: 60%">
        <div th:replace="header :: header"></div>
        <h1>All tasks from <span th:text="${todo.getTitle()}"></span></h1> <!-- add name -->
        <button class="shadowed-button"><a th:href="@{/tasks/create/todos/{todo_id}(todo_id=${todo.getId()})}" style="color:white">Create Task</a></button>
        <h2>Tasks</h2>
        <table class="users-list" border="1" style="margin: auto;">
            <tr>
                <th>No.</th>
                <th>Id</th>
                <th>Name</th>
                <th>Priority</th>
                <th>State</th>
                <th>Operations</th>
            </tr>
            <tr th:each="task, i : ${taskList}" style="text-align: center;">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${task.getId()}"></td>
                <td th:text="${task.getName()}"></td>
                <td th:text="${task.getPriority()}"></td>
                <td th:text="${task.getState().getName()}"></td>
                <td><a th:href="@{/tasks/{task_id}/update/todos/{todo_id}(task_id=${task.getId()},todo_id=${todo.getId()})}">Edit</a>
                    <a th:href="@{/tasks/{task_id}/delete/todos/{todo_id}(task_id=${task.getId()},todo_id=${todo.getId()})}">Delete</a></td>
            </tr>
            <!--Add all tasks and href for update, delete-->
        </table>
        <h2>Collaborators</h2>
        <form th:action="@{/todos/{id}/add(id=${todo.getId()})}" th:object="${addCollaborator}">
            <select th:field="*{id}" style="width: 100%; background: white; border: 1px solid grey; height: 30px">
                <option selected disabled hidden th:value="${0}">Select a collaborator</option>
                <option th:each="user : ${users}"
                        th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"
                        th:value="${user.getId()}">
                </option>
            </select>
            <button class="standard-button" type="submit">Add</button>
        </form>
        <form th:action="@{/todos/{id}/remove(id=${todo.getId()})}" th:object="${removeCollaborator}">
            <table class="users-list" border="1">
                <tr th:each="user, i : ${collaborators}">
                    <td th:text="${i.index + 1}"></td>
                    <td><a th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}" th:href="@{/users/{id}/read(id=${user.getId()})}"></a></td>
                    <td><button class="standard-button" type="submit" name="id" th:value="${user.getId()}">Remove</button></td>
                </tr>
            </table>
        </form>

        <a th:href="@{/users/{owner_id}/read(owner_id=${todo.getOwner().getId()})}">Go to ToDo Lists</a> <!--Paste owner_id-->
        <div th:replace="footer :: footer"></div>
    </div>
</body>
</html>